.box {
  height: 950px;
  background-color: hsl(185,75%,39%);
  background-image: url(../img/bg-pattern-bottom.svg);
    
}

.img{
  border-radius: 10px 10px 0 0 ;
  
  
}

.card{
  border-radius: 15px;
  border: 1px solid hsl(185,75%,39%);;
  color: black;
  } 
  
  .victor{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -5rem;

  }
  
  .text{
    font-size: 1.6rem;
    font-family: "Lexend Deca", sans-serif;
    padding-top: 2rem;
    font-weight: 800;
  }  

  .eta{
    font-weight: 400;
    color: gray;
  }

  .citta{
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
    padding:.8rem;
  }

  .spanGeneral{
    display: block;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
  }

  .spanUp{
    
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;

  }

  .spanOver{
  
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 300;
    color: gray;
    letter-spacing: .2rem;
  }

  .padding{
    padding:2rem;
  }
  
  